[submodule "protected/extensions/gtc"]
	path = protected/extensions/gtc
	url = git@github.com:schmunk42/gii-template-collection.git
[submodule "protected/extensions/yiiext"]
	path = protected/extensions/yiiext
	url = git@github.com:schmunk42/yiiext.git
